.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  /* padding: 0px 50px; */
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.5;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 1.5;
  padding-left: 120px;
  padding-right: 50px;
  padding-top: 30px;
  max-width: 50rem;
  margin-top: 30px;
  align-self: flex-start;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.postDetails {
  max-width: 1080px;
}

.postData {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.postData h2 {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 30px;
  align-self: flex-start;
}

.postData h3 {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 30px;
  align-self: flex-start;
}

.postData p {
  padding-left: 0px;
  padding-right: 0px;
}

.postData pre {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 50px;
  align-self: center;
}

@media (max-width: 600px) {
  .centered {
    padding-left: 0px;
    padding-right: 0px;
  }

  .postData pre {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .postData code {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .left {
    padding-left: 50px;
  }
}
