.container {
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.backToHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  margin-top: 30px;
  margin-left: 70px;
  /* min-width: 100vw; */
}

.page_title {
  padding-top: 50px;
}

.page_subtitle {
  padding-top: 30px;
}
